In [81]:
import pandas as pd
import requests 
import json
import polars as pl

In [3]:
response = requests.get('https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesStationById/?stationId=13447')

In [25]:
print(response)

<Response [200]>


## Exploring API endpoints of Gaugemap

https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesStationById/?stationId=13455
https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesDatapointsDateTime/?stationId=13455&dataType=3&endTime=2023-08-02T22%3A59%3A59&startTime=2023-07-26T23%3A00%3A00&smoothing=0
https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesDatapointsDateTime/?stationId=13457&dataType=3&endTime=2023-08-02T22%3A59%3A59&startTime=2023-07-29T23%3A00%3A00&smoothing=0

https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesStationById/?stationId=453
https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesDatapointsDateTime/?stationId=13457&dataType=3&endTime=2023-08-02T22%3A59%3A59&startTime=2023-07-29T23%3A00%3A00&smoothing=0

https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesStationsByRiverGroupingKey/?riverGroupingKey=Northmoor+Main+Drain%3A0

https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesStationsByCatchmentName/?catchmentName=Thames+from+Hurley+to+Teddington

https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesStationsByCatchmentName/?catchmentName=Exe

https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesStationsByRiverGroupingKey/?riverGroupingKey=Dawlish+Water%3A0

https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesStationsByCatchmentName/?catchmentName=Exe

https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesDatapointsDateTime/?stationId=9051&dataType=3&endTime=2023-08-31T22%3A59%3A59&startTime=2023-04-30T23%3A00%3A00&smoothing=2

In [26]:

#build requests
url = "https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesStationsByCatchmentName/?catchmentName=Exe"

headers = {
    "Accept": "application/json, text/javascript, */*; q=0.01",
    "Origin": "https://www.gaugemap.co.uk",
    "Referer": "https://www.gaugemap.co.uk/",
    "SessionHeaderId": "03173723-4dea-4c81-8d8e-5c808698384b",  # Need to rotate session/ user-agent headers
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36",
}

response = requests.get(url, headers=headers)

data = response.json()  # if the response is in JSON format

In [79]:
#snippet below returns river levels at given timestamps

r1 = requests.get('https://riverlevelsapi.azurewebsites.net/TimeSeries/GetTimeSeriesDatapointsDateTime/?stationId=9051&dataType=3&endTime=2023-08-31T22%3A59%3A59&startTime=2013-04-30T23%3A00%3A00&smoothing=2', headers=headers)



data = r1.json()
data
df1 = pd.json_normalize(data)
df1[['values']].to_csv('values.csv')

In [13]:
df_exe = pd.DataFrame(data)

In [20]:
df_exe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   dataType                         0 non-null      object
 1   id                               33 non-null     int64
 2   name                             33 non-null     object
 3   description                      33 non-null     object
 4   latitude                         33 non-null     float64
 5   longitude                        33 non-null     float64
 6   stationOwner                     33 non-null     int64
 7   state                            33 non-null     int64
 8   updatedTime                      33 non-null     object
 9   additionalDataObject             33 non-null     object
 10  gaugeList                        33 non-null     object
 11  stationWaterLevelStatisticsType  33 non-null     int64
dtypes: float64(2), int64(4), object(6)
memory usage: 3.2+ KB

In [21]:
df_exe.describe()

,id,latitude,longitude,stationOwner,state,stationWaterLevelStatisticsType
count,33.000000,33.000000,33.000000,33.000000,33.0,33.000000
mean,4284.121212,50.847760,-3.501569,7.969697,0.0,2.606061
std,6476.179872,0.155206,0.094607,13.588793,0.0,0.933387
min,268.000000,50.580500,-3.758500,3.000000,0.0,2.000000
25%,276.000000,50.733166,-3.531354,3.000000,0.0,2.000000
50%,284.000000,50.820968,-3.489849,3.000000,0.0,2.000000
75%,9051.000000,50.989192,-3.454340,3.000000,0.0,4.000000
max,16488.000000,51.138300,-3.279956,44.000000,0.0,4.000000

In [22]:
additional_data_exe= pd.json_normalize(df_exe['additionalDataObject'])
additional_data_exe.columns

Index(['stationReference', 'catchmentName', 'riverName', 'elevation',
       'stationType', 'region', 'ordinal', 'riverGroupingId',
       'riverGroupingName', 'siteId', 'stageDatum', 'dateOpen', 'town',
       'areaName', 'rloIid', 'notation', 'wiskiID', 'farsonId', 'code',
       'urlName'],
      dtype='object')

In [23]:
df_exe.columns

Index(['dataType', 'id', 'name', 'description', 'latitude', 'longitude',
       'stationOwner', 'state', 'updatedTime', 'additionalDataObject',
       'gaugeList', 'stationWaterLevelStatisticsType'],
      dtype='object')