## Pulling highest granularity data for river gauges, cleaning and pulling new coastal gauge data

In [26]:
import src.data_collection as dc
from src.data_preprocessing import extract_time_values_from_csv
from datetime import datetime
import pandas as pd
import os

In [5]:
today = datetime.today()

In [6]:
# Define the date string
date_str = "1 Jan 2016"

# Parse the date string and convert it to ISO 8601 format
date_iso8601 = datetime.strptime(date_str, "%d %b %Y").isoformat()

print(date_iso8601)

2016-01-01T00:00:00

In [ ]:
dc.get_top_level_info_river_gauges()

In [7]:
dc.fetch_and_save_river_data(station_ids=[368], smoothing=0,end_date=today, start_date=date_iso8601)

Data for station 368 saved successfully in data/river_data/station_368.csv.

In [10]:
df_368 = pd.read_csv('data/river_data/station_368.csv')

In [14]:
df_368 = extract_time_values_from_csv('data/river_data/station_368.csv')

In [15]:
df_368

                     value
time
2016-01-01 00:00:00  0.728
2016-01-01 00:15:00  0.595
2016-01-01 00:30:00  0.390
2016-01-01 00:45:00  0.198
2016-01-01 01:00:00  0.055
...                    ...
2024-06-18 10:00:00 -0.436
2024-06-18 10:15:00 -0.437
2024-06-18 10:30:00 -0.437
2024-06-18 10:45:00 -2.385
2024-06-18 13:00:00 -2.385

[257621 rows x 1 columns]

In [16]:
dc.fetch_and_save_river_data(station_ids=[368], smoothing=2,end_date=today, start_date=date_iso8601)

Data for station 368 saved successfully in data/river_data/station_368.csv.

In [17]:
df_368 = extract_time_values_from_csv('data/river_data/station_368.csv')

In [18]:
df_368

                     value
time
2016-01-01 00:00:00  0.728
2016-01-01 00:15:00  0.595
2016-01-01 00:45:00  0.198
2016-01-01 01:00:00  0.055
2016-01-01 01:15:00  0.075
...                    ...
2024-06-18 06:30:00 -0.421
2024-06-18 06:45:00 -0.434
2024-06-18 10:30:00 -0.437
2024-06-18 10:45:00 -2.385
2024-06-18 13:00:00 -2.385

[144766 rows x 1 columns]

In [ ]:
# have to pull all the river data again with 0 smoothing...!

In [19]:
df_info = pd.read_csv('data/river_data/river_station_info_cornwall.csv')

In [20]:
df_info

,id,name,description,latitude,longitude,stationOwner,state,updatedTime,additionalDataObject,gaugeList,stationWaterLevelStatisticsType
0,380,Denby,NaN,50.479652,-4.795633,3,0,2019-03-12T16:29:18.047,"{'stationReference': '49109', 'catchmentName':...","[{'id': 388, 'geoEntityId': 380, 'dataTypeId':...",4
1,382,Helebridge,NaN,50.806427,-4.536459,3,0,2024-07-10T10:38:41.86,"{'stationReference': '49111', 'catchmentName':...","[{'id': 390, 'geoEntityId': 382, 'dataTypeId':...",3
2,384,Bush,NaN,50.844487,-4.509160,3,0,2024-07-10T06:34:57.52,"{'stationReference': '49113', 'catchmentName':...","[{'id': 391, 'geoEntityId': 384, 'dataTypeId':...",2
3,386,Padstow,NaN,50.541745,-4.936932,3,0,2024-07-10T04:41:31.21,"{'stationReference': '49116', 'catchmentName':...","[{'id': 393, 'geoEntityId': 386, 'dataTypeId':...",4
4,387,Penvose,NaN,50.566819,-4.750514,3,0,2024-07-10T04:32:55.55,"{'stationReference': '49117', 'catchmentName':...","[{'id': 394, 'geoEntityId': 387, 'dataTypeId':...",2
5,391,Wadebridge,NaN,50.516704,-4.834983,3,0,2024-07-10T04:36:23.353,"{'stationReference': '49122', 'catchmentName':...","[{'id': 398, 'geoEntityId': 391, 'dataTypeId':...",4
6,393,De Lank,NaN,50.558805,-4.637791,3,0,2024-07-10T09:34:29.83,"{'stationReference': '49129', 'catchmentName':...","[{'id': 400, 'geoEntityId': 393, 'dataTypeId':...",2
7,394,Gwills,NaN,50.393216,-5.056212,3,0,2024-07-10T09:34:56.163,"{'stationReference': '49130', 'catchmentName':...","[{'id': 401, 'geoEntityId': 394, 'dataTypeId':...",2
8,395,Slaughterbridge,NaN,50.640434,-4.675177,3,0,2022-01-12T14:48:50.117,"{'stationReference': '49131', 'catchmentName':...","[{'id': 402, 'geoEntityId': 395, 'dataTypeId':...",4
9,397,Sladesbridge,NaN,50.509313,-4.804805,3,0,2024-07-10T06:44:06.73,"{'stationReference': '49133', 'catchmentName':...","[{'id': 404, 'geoEntityId': 397, 'dataTypeId':...",2
10,398,Woolstone Mill,NaN,50.788694,-4.516344,3,0,2024-07-10T06:40:51.163,"{'stationReference': '49134', 'catchmentName':...","[{'id': 405, 'geoEntityId': 398, 'dataTypeId':...",2
11,399,Bude,NaN,50.832974,-4.558848,3,0,2020-06-11T06:21:38.3,"{'stationReference': '49150', 'catchmentName':...","[{'id': 406, 'geoEntityId': 399, 'dataTypeId':...",4
12,400,Bodmin Band Club,NaN,50.471406,-4.717345,3,0,2024-07-10T11:11:48.783,"{'stationReference': '49152', 'catchmentName':...","[{'id': 407, 'geoEntityId': 400, 'dataTypeId':...",4
13,1349,Boscastle New Mills,NaN,50.691085,-4.694201,3,0,2024-07-10T04:50:06.32,"{'stationReference': '49124', 'catchmentName':...","[{'id': 11219, 'geoEntityId': 1349, 'dataTypeI...",4
14,1351,Bodmin St Petrocs Well,NaN,50.468464,-4.713131,3,0,2024-07-10T11:35:45.107,"{'stationReference': '49153', 'catchmentName':...","[{'id': 1495, 'geoEntityId': 1351, 'dataTypeId...",2
15,1352,Port Isaac,NaN,50.589167,-4.830222,3,0,2024-07-10T09:42:49.993,"{'stationReference': '49170', 'catchmentName':...","[{'id': 1496, 'geoEntityId': 1352, 'dataTypeId...",2
16,8256,BOSCASTLE ANDERTON FORD,Discovered,50.691200,-4.638040,3,0,2023-11-23T04:42:19.063,"{'stationReference': '49173', 'catchmentName':...","[{'id': 3601, 'geoEntityId': 8256, 'dataTypeId...",4
17,8340,BOSCASTLE COUNTY BRIDGE,Discovered,50.689900,-4.693030,3,0,2024-07-10T04:52:59.603,"{'stationReference': '49174', 'catchmentName':...","[{'id': 3683, 'geoEntityId': 8340, 'dataTypeId...",2
18,16446,Nanstallon,Imported,50.472778,-4.783056,44,0,2022-03-01T00:50:38.11,"{'stationReference': 'FD_00004', 'farsonId': '...","[{'id': 12166, 'geoEntityId': 16446, 'dataType...",4
19,17891,BODMIN DUNMERE,Discovered,50.474140,-4.757109,3,0,2024-07-10T08:11:46.24,"{'stationReference': '49182', 'region': 'South...","[{'id': 13596, 'geoEntityId': 17891, 'dataType...",2
20,355,Rose in Vale,NaN,50.312000,-5.166148,3,0,2024-07-10T04:36:36.52,"{'stationReference': '48107', 'catchmentName':...","[{'id': 365, 'geoEntityId': 355, 'dataTypeId':...",2
21,357,Bolingey Cocks Bridge,NaN,50.333427,-5.144356,3,0,2024-07-10T06:35:57.987,"{'stationReference': '48110', 'catchmentName':...","[{'id': 367, 'geoEntityId': 357, 'dataTypeId':...",2
22,358,Hayle Tideflap,NaN,50.175828,-5.436540,3,0,2024-07-10T11:09:33.64,"{'stationReference': '48113', 'catchmentName':...","[{'id': 368, 'geoEntityId': 358, 'dataTypeId':...",4
23,361,Loe Pool,NaN,50.083629,-5.291197,3,0,2024-07-09T04:38:35.72,"{'stationReference': '48117', 'catchmentName':...","[{'id': 371, 'geoEntityId': 361, 'dataTypeId':...",2
24,362,Perrancoombe,NaN,50.340205,-5.157454,3,0,2024-07-10T04:36:22.4,"{'stationReference': '48121', 'catchmentName':...","[{'id': 372, 'geoEntityId': 362, 'dataTypeId':...",2
25,364,Relubbus,NaN,50.137450,-5.406954,3,0,2024-07-10T11:34:52,"{'stationReference': '48124', 'catchmentName':...","[{'id': 374, 'geoEntityId': 364, 'dataTypeId':...",2
26,365,St Erth,NaN,50.156890,-5.432912,3,0,2024-07-10T06:36:00.45,"{'stationReference': '48125', 'catchmentName':...","[{'id': 375, 'geoEntityId': 365, 'dataTypeId':...",2
27,370,Boscadjack,NaN,50.131134,-5.255314,3,0,2024-07-10T04:41:33.77,"{'stationReference': '48138', 'catchmentName':...","[{'id': 380, 'geoEntityId': 370, 'dataTypeId':...",2
28,375,St Ives Tide,NaN,50.215241,-5.476416,3,0,2024-07-10T04:47:02.78,"{'stationReference': '48160', 'catchmentName':...","[{'id': 385, 'geoEntityId': 375, 'dataTypeId':...",4
29,1335,Helston County Bridge,NaN,50.100039,-5.279763,3,0,2024-07-10T10:34:29.32,"{'stationReference': '48172', 'catchmentName':...","[{'id': 1479, 'geoEntityId': 1335, 'dataTypeId...",2
30,1339,Gwithian,NaN,50.229604,-5.388672,3,0,2024-07-10T06:42:39.953,"{'stationReference': '48186', 'catchmentName':...","[{'id': 1483, 'geoEntityId': 1339, 'dataTypeId...",2
31,1340,St Ives Consols Farm,NaN,50.206032,-5.498455,3,0,2024-07-10T11:35:10.477,"{'stationReference': '48187', 'catchmentName':...","[{'id': 1484, 'geoEntityId': 1340, 'dataTypeId...",2
32,1341,Penzance Alverton,NaN,50.117386,-5.552427,3,0,2024-07-10T06:54:58.68,"{'stationReference': '48188', 'catchmentName':...","[{'id': 1485, 'geoEntityId': 1341, 'dataTypeId...",2
33,1342,Penzance Tesco,NaN,50.126761,-5.525300,3,0,2024-07-10T06:41:01.247,"{'stationReference': '48189', 'catchmentName':...","[{'id': 1486, 'geoEntityId': 1342, 'dataTypeId...",2
34,8227,TRENEAR,Discovered,50.131300,-5.338420,3,0,2024-07-10T04:37:22.763,"{'stationReference': '48126', 'catchmentName':...","[{'id': 3573, 'geoEntityId': 8227, 'dataTypeId...",2
35,14453,PORTREATH,Discovered,50.260100,-5.279220,3,0,2024-07-10T06:42:17.227,"{'stationReference': '48174', 'catchmentName':...","[{'id': 9882, 'geoEntityId': 14453, 'dataTypeI...",2
36,14454,PENBERTH,Discovered,50.050300,-5.633470,3,0,2024-07-10T06:42:52.647,"{'stationReference': '48173', 'catchmentName':...","[{'id': 9883, 'geoEntityId': 14454, 'dataTypeI...",2

In [23]:
river_gauge_ids = df_info['id'].to_list()

In [24]:
river_gauge_ids

[380,
 382,
 384,
 386,
 387,
 391,
 393,
 394,
 395,
 397,
 398,
 399,
 400,
 1349,
 1351,
 1352,
 8256,
 8340,
 16446,
 17891,
 355,
 357,
 358,
 361,
 362,
 364,
 365,
 370,
 375,
 1335,
 1339,
 1340,
 1341,
 1342,
 8227,
 14453,
 14454]

In [25]:
dc.fetch_and_save_river_data(river_gauge_ids, start_date=date_iso8601, end_date=today, smoothing=0, destination='data/river_data/highest_granularity/')

Data for station 380 saved successfully in data/river_data/highest_granularity/station_380.csv.
Data for station 382 saved successfully in data/river_data/highest_granularity/station_382.csv.
Data for station 384 saved successfully in data/river_data/highest_granularity/station_384.csv.
Failed to fetch data for station 386. Status code: 500
Data for station 387 saved successfully in data/river_data/highest_granularity/station_387.csv.
Failed to fetch data for station 391. Status code: 500
Data for station 393 saved successfully in data/river_data/highest_granularity/station_393.csv.
Data for station 394 saved successfully in data/river_data/highest_granularity/station_394.csv.
Data for station 395 saved successfully in data/river_data/highest_granularity/station_395.csv.
Data for station 397 saved successfully in data/river_data/highest_granularity/station_397.csv.
Data for station 398 saved successfully in data/river_data/highest_granularity/station_398.csv.
Failed to fetch data for station 399. Status code: 500
Data for station 400 saved successfully in data/river_data/highest_granularity/station_400.csv.
Failed to fetch data for station 1349. Status code: 500
Data for station 1351 saved successfully in data/river_data/highest_granularity/station_1351.csv.
Data for station 1352 saved successfully in data/river_data/highest_granularity/station_1352.csv.
Data for station 8256 saved successfully in data/river_data/highest_granularity/station_8256.csv.
Data for station 8340 saved successfully in data/river_data/highest_granularity/station_8340.csv.
Failed to fetch data for station 16446. Status code: 500
Data for station 17891 saved successfully in data/river_data/highest_granularity/station_17891.csv.
Data for station 355 saved successfully in data/river_data/highest_granularity/station_355.csv.
Data for station 357 saved successfully in data/river_data/highest_granularity/station_357.csv.
Failed to fetch data for station 358. Status code: 500
Data for station 361 saved successfully in data/river_data/highest_granularity/station_361.csv.
Data for station 362 saved successfully in data/river_data/highest_granularity/station_362.csv.
Data for station 364 saved successfully in data/river_data/highest_granularity/station_364.csv.
Data for station 365 saved successfully in data/river_data/highest_granularity/station_365.csv.
Data for station 370 saved successfully in data/river_data/highest_granularity/station_370.csv.
Failed to fetch data for station 375. Status code: 500
Data for station 1335 saved successfully in data/river_data/highest_granularity/station_1335.csv.
Data for station 1339 saved successfully in data/river_data/highest_granularity/station_1339.csv.
Data for station 1340 saved successfully in data/river_data/highest_granularity/station_1340.csv.
Data for station 1341 saved successfully in data/river_data/highest_granularity/station_1341.csv.
Data for station 1342 saved successfully in data/river_data/highest_granularity/station_1342.csv.
Data for station 8227 saved successfully in data/river_data/highest_granularity/station_8227.csv.
Data for station 14453 saved successfully in data/river_data/highest_granularity/station_14453.csv.
Data for station 14454 saved successfully in data/river_data/highest_granularity/station_14454.csv.

In [2]:
import os
import pandas as pd
from ast import literal_eval

def extract_time_values_from_csv(path: str = None) -> pd.DataFrame:
    """Extracts time and measurement values from the CSV based on the API response format"""
    
    try:
        # Read in the 'values' column
        df = pd.read_csv(path, usecols=["values"])
        
        # Convert string representations of lists to actual lists of dictionaries
        df["values"] = df["values"].apply(literal_eval)
        
        # Explode the list in the 'values' column to individual rows
        df = df.explode("values")
        
        # Check if "values" column contains dictionaries with "time" keys
        if isinstance(df["values"].iloc[0], dict) and "time" in df["values"].iloc[0]:
            # Convert dictionaries to separate columns
            df = pd.concat([df.drop("values", axis=1), df["values"].apply(pd.Series)], axis=1)
        
        # Ensure "time" column is in datetime format
        if "time" in df.columns:
            df["time"] = pd.to_datetime(df["time"])

        # Set "time" as index if it's not already done
        if "time" in df.columns:
            df = df.set_index("time")
        
        return df
    except Exception as e:
        print(f"Error in extract_time_values_from_csv with file {path}: {e}")
        return pd.DataFrame()  # Return an empty DataFrame in case of error

# Directory containing the files
input_directory = '../data/river_data/highest_granularity'
output_directory = '../data/river_data/highest_granularity_cleaned'

# Ensure output directory exists
os.makedirs(output_directory, exist_ok=True)

# Process each file in the directory
for file in os.listdir(input_directory):
    # Full path to the input file
    file_path = os.path.join(input_directory, file)
    
    # Debugging: Print which file is being processed
    print(f"Processing file: {file_path}")
    
    try:
        # Extract time series data
        extracted_time_series_df = extract_time_values_from_csv(file_path)
        
        # Verify if the resulting DataFrame has data and a 'time' column
        if extracted_time_series_df.empty:
            print(f"Warning: Data extraction failed for {file}. Empty DataFrame returned.")
            continue
        elif "time" not in extracted_time_series_df.index.names:
            print(f"Warning: 'time' index is missing in {file}. Skipping file.")
            continue
        
        # Full path to save the cleaned CSV
        output_file_path = os.path.join(output_directory, f"{os.path.splitext(file)[0]}_clean.csv")
        
        # Save the DataFrame to CSV
        extracted_time_series_df.to_csv(output_file_path)
        print(f"Saved cleaned data to {output_file_path}")

    except Exception as e:
        print(f"Error processing file {file}: {e}")

Processing file: ../data/river_data/highest_granularity/station_362.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_362_clean.csv
Processing file: ../data/river_data/highest_granularity/station_1339.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_1339_clean.csv
Processing file: ../data/river_data/highest_granularity/station_14454.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_14454_clean.csv
Processing file: ../data/river_data/highest_granularity/station_361.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_361_clean.csv
Processing file: ../data/river_data/highest_granularity/station_8256.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_8256_clean.csv
Processing file: ../data/river_data/highest_granularity/station_364.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_364_clean.csv
Processing file: ../data/river_data/highest_granularity/station_370.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_370_clean.csv
Processing file: ../data/river_data/highest_granularity/station_365.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_365_clean.csv
Processing file: ../data/river_data/highest_granularity/station_398.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_398_clean.csv
Processing file: ../data/river_data/highest_granularity/station_400.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_400_clean.csv
Processing file: ../data/river_data/highest_granularity/station_14453.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_14453_clean.csv
Processing file: ../data/river_data/highest_granularity/station_8340.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_8340_clean.csv
Processing file: ../data/river_data/highest_granularity/station_17891.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_17891_clean.csv
Processing file: ../data/river_data/highest_granularity/station_8227.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_8227_clean.csv
Processing file: ../data/river_data/highest_granularity/station_1352.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_1352_clean.csv
Processing file: ../data/river_data/highest_granularity/station_1351.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_1351_clean.csv
Processing file: ../data/river_data/highest_granularity/station_1340.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_1340_clean.csv
Processing file: ../data/river_data/highest_granularity/station_1341.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_1341_clean.csv
Processing file: ../data/river_data/highest_granularity/station_1342.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_1342_clean.csv
Processing file: ../data/river_data/highest_granularity/station_394.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_394_clean.csv
Processing file: ../data/river_data/highest_granularity/station_380.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_380_clean.csv
Processing file: ../data/river_data/highest_granularity/station_357.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_357_clean.csv
Processing file: ../data/river_data/highest_granularity/station_395.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_395_clean.csv
Processing file: ../data/river_data/highest_granularity/station_397.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_397_clean.csv
Processing file: ../data/river_data/highest_granularity/station_355.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_355_clean.csv
Processing file: ../data/river_data/highest_granularity/station_382.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_382_clean.csv
Processing file: ../data/river_data/highest_granularity/station_393.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_393_clean.csv
Processing file: ../data/river_data/highest_granularity/station_387.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_387_clean.csv
Processing file: ../data/river_data/highest_granularity/station_1335.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_1335_clean.csv
Processing file: ../data/river_data/highest_granularity/station_384.csv
Saved cleaned data to ../data/river_data/highest_granularity_cleaned/station_384_clean.csv

In [4]:
import os
import pandas as pd

# Initialize the row counter
total_rows = 0

# Directory containing the cleaned files
directory = '../data/river_data/highest_granularity_cleaned'

# Loop through each file in the directory
for file in os.listdir(directory):
    # Construct the full file path
    file_path = os.path.join(directory, file)
    
    # Read the CSV file and count the rows
    df = pd.read_csv(file_path)
    total_rows += len(df)

print(f"Total rows across all files: {total_rows}")

Total rows across all files: 6510306

In [5]:
import os
import pandas as pd

# Directory containing your cleaned high-granularity CSV files
directory = '../data/river_data/highest_granularity_cleaned'

# Initialize lists to collect summary information
file_summaries = []

# Process each file in the directory
for file in os.listdir(directory):
    file_path = os.path.join(directory, file)
    
    try:
        # Load a small portion of each CSV for a quick inspection
        df = pd.read_csv(file_path, nrows=5)  # Load just the first 5 rows to check columns and dtypes
        
        # Full row count and memory usage
        row_count = sum(1 for _ in open(file_path)) - 1  # Exclude header row for total row count
        memory_usage = pd.read_csv(file_path, usecols=[0]).memory_usage(index=False).sum() * row_count / 5  # Approximate memory
        
        # Collect summary information
        summary = {
            'File': file,
            'Rows': row_count,
            'Columns': df.columns.tolist(),
            'Memory (Approx.) MB': memory_usage / (1024 ** 2)  # Convert to MB
        }
        file_summaries.append(summary)

    except Exception as e:
        print(f"Error processing file {file}: {e}")

# Convert the summaries into a DataFrame for easy viewing
summary_df = pd.DataFrame(file_summaries)
summary_df

                       File    Rows        Columns  Memory (Approx.) MB
0     station_397_clean.csv  255255  [time, value]         99418.815651
1    station_1352_clean.csv  203692  [time, value]         63309.373267
2   station_17891_clean.csv  169004  [time, value]         43582.690454
3     station_400_clean.csv  227776  [time, value]         79165.506250
4    station_1340_clean.csv  217307  [time, value]         72055.560683
5     station_355_clean.csv  229667  [time, value]         80485.429213
6     station_382_clean.csv  250546  [time, value]         95784.451471
7    station_1341_clean.csv  208544  [time, value]         66361.389063
8     station_384_clean.csv  185180  [time, value]         52324.878540
9     station_361_clean.csv  240814  [time, value]         88487.827448
10    station_395_clean.csv  152195  [time, value]         35344.418373
11    station_364_clean.csv  270233  [time, value]        111428.641188
12    station_370_clean.csv  252928  [time, value]         97614.400000
13   station_8227_clean.csv  169239  [time, value]         43703.978151
14    station_398_clean.csv  211512  [time, value]         68263.742285
15   station_8340_clean.csv  244112  [time, value]         90928.144141
16    station_393_clean.csv  191031  [time, value]         55683.659303
17    station_387_clean.csv  284211  [time, value]        123254.230531
18   station_1342_clean.csv  260239  [time, value]        103339.137453
19   station_8256_clean.csv  181296  [time, value]         50152.953516
20    station_357_clean.csv  225513  [time, value]         77600.270338
21   station_1335_clean.csv  262402  [time, value]        105064.101569
22    station_362_clean.csv  244103  [time, value]         90921.439528
23  station_14454_clean.csv  187912  [time, value]         53880.187598
24    station_380_clean.csv   94553  [time, value]         13641.769118
25   station_1351_clean.csv  180768  [time, value]         49861.251563
26    station_394_clean.csv  166027  [time, value]         42060.798232
27  station_14453_clean.csv  229855  [time, value]         80617.250099
28    station_365_clean.csv  265358  [time, value]        107444.562018
29   station_1339_clean.csv  249034  [time, value]         94631.856012

In [6]:
summary_df['Memory (Approx.) MB'].sum()

np.float64(2236412.713052368)

In [7]:
import os
import pandas as pd

# Directory containing the cleaned high-granularity CSV files
directory = '../data/river_data/highest_granularity_cleaned'

# Initialize a list to collect summary information
file_summaries = []

# Process each file in the directory
for file in os.listdir(directory):
    file_path = os.path.join(directory, file)
    
    try:
        # Load the first few rows for column inspection and memory usage approximation
        df_sample = pd.read_csv(file_path, nrows=5)  # Load only 5 rows for initial inspection
        df_full = pd.read_csv(file_path)  # Full file loading for stats if manageable
        
        # Row count and memory usage
        row_count = len(df_full)
        memory_usage = df_full.memory_usage(index=True).sum() / (1024 ** 2)  # Memory in MB
        
        # Summary stats for numeric columns
        stats = df_full.describe().to_dict()
        
        # Extract specific summary stats
        summary = {
            'File': file,
            'Rows': row_count,
            'Columns': df_sample.columns.tolist(),
            'Memory (MB)': memory_usage,
            'Data Types': df_sample.dtypes.to_dict(),
            'Mean': {col: stats[col]['mean'] for col in stats if 'mean' in stats[col]},
            'Min': {col: stats[col]['min'] for col in stats if 'min' in stats[col]},
            'Max': {col: stats[col]['max'] for col in stats if 'max' in stats[col]}
        }
        file_summaries.append(summary)

    except Exception as e:
        print(f"Error processing file {file}: {e}")

# Convert the summaries into a DataFrame for easy viewing
summary_df = pd.DataFrame(file_summaries)
summary_df

,File,Rows,Columns,Memory (MB),Data Types,Mean,Min,Max
0,station_397_clean.csv,255255,"[time, value]",3.895008,"{'time': object, 'value': float64}",{'value': 0.13882958218252334},{'value': -0.772},{'value': 1.319}
1,station_1352_clean.csv,203692,"[time, value]",3.108219,"{'time': object, 'value': float64}",{'value': 0.22930751821377376},{'value': 0.116},{'value': 0.744}
2,station_17891_clean.csv,169004,"[time, value]",2.578922,"{'time': object, 'value': float64}",{'value': 1.1723450865068283},{'value': -0.304},{'value': 2.661}
3,station_400_clean.csv,227776,"[time, value]",3.475712,"{'time': object, 'value': float64}",{'value': 0.055048332572351796},{'value': -0.005},{'value': 0.558}
4,station_1340_clean.csv,217307,"[time, value]",3.315968,"{'time': object, 'value': float64}",{'value': 0.11420882438209538},{'value': -0.695},{'value': 3.236}
5,station_355_clean.csv,229667,"[time, value]",3.504566,"{'time': object, 'value': float64}",{'value': 0.33112979661858255},{'value': -32.768},{'value': 1.249}
6,station_382_clean.csv,250546,"[time, value]",3.823154,"{'time': object, 'value': float64}",{'value': 0.06620053004238742},{'value': -32.768},{'value': 0.836}
7,station_1341_clean.csv,208544,"[time, value]",3.182255,"{'time': object, 'value': float64}",{'value': 0.1400035771827528},{'value': 0.045},{'value': 0.49}
8,station_384_clean.csv,185180,"[time, value]",2.825748,"{'time': object, 'value': float64}",{'value': 0.35118132087698456},{'value': -32.768},{'value': 1.524}
9,station_361_clean.csv,240814,"[time, value]",3.674656,"{'time': object, 'value': float64}",{'value': -0.29486783575705916},{'value': -1708546.625},{'value': 1345544.5}
10,station_395_clean.csv,152195,"[time, value]",2.322437,"{'time': object, 'value': float64}",{'value': 0.4195281842373271},{'value': -32.768},{'value': 1.167}
11,station_364_clean.csv,270233,"[time, value]",4.123554,"{'time': object, 'value': float64}",{'value': 0.27546297824469995},{'value': -32.768},{'value': 2.992}
12,station_370_clean.csv,252928,"[time, value]",3.859501,"{'time': object, 'value': float64}",{'value': 0.44084527612601215},{'value': -32.768},{'value': 1.224}
13,station_8227_clean.csv,169239,"[time, value]",2.582508,"{'time': object, 'value': float64}",{'value': 0.5154296231955992},{'value': -32.768},{'value': 1.178}
14,station_398_clean.csv,211512,"[time, value]",3.227543,"{'time': object, 'value': float64}",{'value': 0.2659894994137449},{'value': -0.074},{'value': 2.485}
15,station_8340_clean.csv,244112,"[time, value]",3.724979,"{'time': object, 'value': float64}",{'value': 0.44432885724585436},{'value': -1.106},{'value': 1.435}
16,station_393_clean.csv,191031,"[time, value]",2.915028,"{'time': object, 'value': float64}",{'value': 0.23947240500232947},{'value': -3.462},{'value': 1.26}
17,station_387_clean.csv,284211,"[time, value]",4.336842,"{'time': object, 'value': float64}",{'value': 0.21427162917691436},{'value': -1.0},{'value': 0.99}
18,station_1342_clean.csv,260239,"[time, value]",3.971058,"{'time': object, 'value': float64}",{'value': 10.832696340671458},{'value': 0.061},{'value': 1370678.125}
19,station_8256_clean.csv,181296,"[time, value]",2.766483,"{'time': object, 'value': float64}",{'value': 0.11409388513811666},{'value': -1.058},{'value': 0.824}
20,station_357_clean.csv,225513,"[time, value]",3.441181,"{'time': object, 'value': float64}",{'value': 0.34058289766000177},{'value': -0.001},{'value': 1.329}
21,station_1335_clean.csv,262402,"[time, value]",4.004063,"{'time': object, 'value': float64}",{'value': 0.5041490499310219},{'value': -32.768},{'value': 2.044}
22,station_362_clean.csv,244103,"[time, value]",3.724842,"{'time': object, 'value': float64}",{'value': -1.2096224544557004},{'value': -1449531.875},{'value': 1086351.25}
23,station_14454_clean.csv,187912,"[time, value]",2.867435,"{'time': object, 'value': float64}",{'value': 0.30351081357231047},{'value': -32.768},{'value': 0.753}
24,station_380_clean.csv,94553,"[time, value]",1.442890,"{'time': object, 'value': float64}",{'value': 0.8024418580055629},{'value': 0.41},{'value': 2.649}
25,station_1351_clean.csv,180768,"[time, value]",2.758427,"{'time': object, 'value': float64}",{'value': 0.07093432465923173},{'value': -1.277},{'value': 1.869}
26,station_394_clean.csv,166027,"[time, value]",2.533497,"{'time': object, 'value': float64}",{'value': 0.17527247977738558},{'value': -32.768},{'value': 1.295}
27,station_14453_clean.csv,229855,"[time, value]",3.507435,"{'time': object, 'value': float64}",{'value': 0.13639124230493135},{'value': -0.848},{'value': 3.053}
28,station_365_clean.csv,265358,"[time, value]",4.049168,"{'time': object, 'value': float64}",{'value': 0.4164280820627228},{'value': -32.768},{'value': 1.244}
29,station_1339_clean.csv,249034,"[time, value]",3.800083,"{'time': object, 'value': float64}",{'value': 0.8038769404980846},{'value': -32.768},{'value': 3.0}

In [16]:
df_362 = pd.read_csv('data/river_data/highest_granularity/station_362_clean.csv')

In [14]:
from src.data_preprocessing import clean_river_csv

In [13]:
import os
os.chdir('..')

In [17]:
test_clean_362 = clean_river_csv('data/river_data/highest_granularity/station_362_clean.csv')

Processing file: data/river_data/highest_granularity/station_362_clean.csv
Rows dropped due to unparseable 'time' values: 0 (0.00%)
The resampling to 15 created 66475 rows corresponding to missing timestamps
Total missing 15-minute rows: 66475 (21.40%)

Negative values replaced and missing values filled using linear interpolation.

In [24]:
_, test_clean_362 = clean_river_csv('data/river_data/highest_granularity/station_362_clean.csv')

Processing file: data/river_data/highest_granularity/station_362_clean.csv
Rows dropped due to unparseable 'time' values: 0 (0.00%)
The resampling to 15 created 66475 rows corresponding to missing timestamps
Total missing 15-minute rows: 66475 (21.40%)

Negative values replaced and missing values filled using linear interpolation.

In [25]:
_, test_clean_362_low_gran = clean_river_csv('data/river_data/station_362_clean.csv')

Processing file: data/river_data/station_362_clean.csv
Rows dropped due to unparseable 'time' values: 0 (0.00%)
The resampling to 15 created 106945 rows corresponding to missing timestamps
Total missing 15-minute rows: 106945 (29.45%)

Negative values replaced and missing values filled using linear interpolation.

In [21]:
test_clean_362

                           value
time
2016-01-01 00:00:00+00:00  0.431
2016-01-01 00:15:00+00:00  0.432
2016-01-01 00:30:00+00:00  0.431
2016-01-01 00:45:00+00:00  0.430
2016-01-01 01:00:00+00:00  0.429
...                          ...
2024-11-09 03:15:00+00:00  0.216
2024-11-09 03:30:00+00:00  0.214
2024-11-09 03:45:00+00:00  0.214
2024-11-09 04:00:00+00:00  0.216
2024-11-09 04:15:00+00:00  0.215

[310578 rows x 1 columns]

In [26]:
test_clean_362_low_gran

                           value
time
2014-03-04 04:15:00+00:00  0.571
2014-03-04 04:30:00+00:00  0.572
2014-03-04 04:45:00+00:00  0.571
2014-03-04 05:00:00+00:00  0.570
2014-03-04 05:15:00+00:00  0.571
...                          ...
2024-07-11 22:45:00+00:00  0.188
2024-07-11 23:00:00+00:00  0.188
2024-07-11 23:15:00+00:00  0.188
2024-07-11 23:30:00+00:00  0.188
2024-07-11 23:45:00+00:00  0.189

[363151 rows x 1 columns]

In [22]:
test_clean_362.describe()

              value
count  3.105780e+05
mean   5.513751e+00
std    2.179415e+03
min    3.000000e-02
25%    1.560000e-01
50%    2.450000e-01
75%    3.800000e-01
max    1.086351e+06

In [29]:
import os
import pandas as pd

# Directories for smoothing=0 and smoothing=2 CSVs
high_granularity_dir = 'data/river_data/highest_granularity'  # smoothing=0
low_granularity_dir = 'data/river_data/'  # smoothing=2

# Initialize lists to collect comparison data
comparisons = []

# Compare each file by name
for file in os.listdir(high_granularity_dir):
    high_path = os.path.join(high_granularity_dir, file)
    low_path = os.path.join(low_granularity_dir, file)

    # Ensure both files exist
    if os.path.exists(high_path) and os.path.exists(low_path):
        # Load the data
        df_high = pd.read_csv(high_path, parse_dates=['time'])
        df_low = pd.read_csv(low_path, parse_dates=['time'])
        
        # Row count comparison
        high_rows = len(df_high)
        low_rows = len(df_low)
        
        # Time interval comparison
        high_time_gap = df_high['time'].diff().median()
        low_time_gap = df_low['time'].diff().median()
        
        # Value statistics comparison
        high_mean, high_min, high_max = df_high['value'].mean(), df_high['value'].min(), df_high['value'].max()
        low_mean, low_min, low_max = df_low['value'].mean(), df_low['value'].min(), df_low['value'].max()
        
        # Append to comparison data
        comparisons.append({
            'File': file,
            'Rows (smoothing=0)': high_rows,
            'Rows (smoothing=2)': low_rows,
            'Time Gap (smoothing=0)': high_time_gap,
            'Time Gap (smoothing=2)': low_time_gap,
            'Mean (smoothing=0)': high_mean,
            'Mean (smoothing=2)': low_mean,
            'Min (smoothing=0)': high_min,
            'Min (smoothing=2)': low_min,
            'Max (smoothing=0)': high_max,
            'Max (smoothing=2)': low_max
        })

# Convert to DataFrame for quick viewing
comparison_df = pd.DataFrame(comparisons)
comparison_df

,File,Rows (smoothing=0),Rows (smoothing=2),Time Gap (smoothing=0),Time Gap (smoothing=2),Mean (smoothing=0),Mean (smoothing=2),Min (smoothing=0),Min (smoothing=2),Max (smoothing=0),Max (smoothing=2)
0,station_397_clean.csv,255255,272726,0 days 00:15:00,0 days 00:15:00,0.138830,0.131770,-0.772,-0.772,1.319,1.319
1,station_1352_clean.csv,203692,225361,0 days 00:15:00,0 days 00:15:00,0.229308,0.225516,0.116,0.097,0.744,0.744
2,station_17891_clean.csv,169004,135251,0 days 00:15:00,0 days 00:15:00,1.172345,1.159680,-0.304,-0.304,2.661,2.661
3,station_400_clean.csv,227776,245281,0 days 00:15:00,0 days 00:15:00,0.055048,0.049444,-0.005,-0.006,0.558,0.558
4,station_1340_clean.csv,217307,244191,0 days 00:15:00,0 days 00:15:00,0.114209,0.108532,-0.695,-0.695,3.236,3.236
5,station_355_clean.csv,229667,244105,0 days 00:15:00,0 days 00:15:00,0.331130,0.331719,-32.768,-32.768,1.249,1.249
6,station_382_clean.csv,250546,246373,0 days 00:15:00,0 days 00:15:00,0.066201,0.072932,-32.768,-32.768,0.836,0.836
7,station_1341_clean.csv,208544,238527,0 days 00:15:00,0 days 00:15:00,0.140004,0.131060,0.045,0.039,0.490,0.490
8,station_384_clean.csv,185180,193590,0 days 00:15:00,0 days 00:15:00,0.351181,0.351539,-32.768,-32.768,1.524,1.659
9,station_361_clean.csv,240814,250455,0 days 00:15:00,0 days 00:15:00,-0.294868,-3.066285,-1708546.625,-1708517.250,1345544.500,32.767
10,station_395_clean.csv,152195,179864,0 days 00:15:00,0 days 00:15:00,0.419528,0.420817,-32.768,-32.768,1.167,1.853
11,station_364_clean.csv,270233,290429,0 days 00:15:00,0 days 00:15:00,0.275463,0.271603,-32.768,-32.768,2.992,3.223
12,station_370_clean.csv,252928,273224,0 days 00:15:00,0 days 00:15:00,0.440845,0.438775,-32.768,-32.768,1.224,1.224
13,station_8227_clean.csv,169239,99233,0 days 00:15:00,0 days 00:15:00,0.515430,0.497519,-32.768,-32.768,1.178,1.177
14,station_398_clean.csv,211512,200923,0 days 00:15:00,0 days 00:15:00,0.265989,0.260489,-0.074,-0.074,2.485,2.485
15,station_8340_clean.csv,244112,255640,0 days 00:15:00,0 days 00:15:00,0.444329,0.446583,-1.106,-1.106,1.435,1.435
16,station_393_clean.csv,191031,195372,0 days 00:15:00,0 days 00:15:00,0.239472,0.235897,-3.462,-3.462,1.260,1.260
17,station_387_clean.csv,284211,299795,0 days 00:15:00,0 days 00:15:00,0.214272,0.218316,-1.000,-1.000,0.990,0.990
18,station_1342_clean.csv,260239,287601,0 days 00:15:00,0 days 00:15:00,10.832696,5.066193,0.061,0.147,1370678.125,1370678.125
19,station_8256_clean.csv,181296,227880,0 days 00:15:00,0 days 00:15:00,0.114094,0.109371,-1.058,-1.150,0.824,0.824
20,station_357_clean.csv,225513,243398,0 days 00:15:00,0 days 00:15:00,0.340583,0.337578,-0.001,0.182,1.329,1.329
21,station_1335_clean.csv,262402,276568,0 days 00:15:00,0 days 00:15:00,0.504149,0.482313,-32.768,-32.768,2.044,2.044
22,station_362_clean.csv,244103,256206,0 days 00:15:00,0 days 00:15:00,-1.209622,-5.376351,-1449531.875,-1449531.875,1086351.250,0.815
23,station_14454_clean.csv,187912,97035,0 days 00:15:00,0 days 00:15:00,0.303511,0.288243,-32.768,-32.768,0.753,0.753
24,station_380_clean.csv,94553,126743,0 days 00:15:00,0 days 00:15:00,0.802442,0.779587,0.410,0.410,2.649,2.649
25,station_1351_clean.csv,180768,202201,0 days 00:15:00,0 days 00:15:00,0.070934,0.070101,-1.277,-1.277,1.869,3.124
26,station_394_clean.csv,166027,172134,0 days 00:15:00,0 days 00:15:00,0.175272,0.166450,-32.768,-32.768,1.295,1.295
27,station_14453_clean.csv,229855,219515,0 days 00:15:00,0 days 00:15:00,0.136391,0.139007,-0.848,-0.848,3.053,3.053
28,station_365_clean.csv,265358,284311,0 days 00:15:00,0 days 00:15:00,0.416428,0.412028,-32.768,-32.768,1.244,1.244
29,station_1339_clean.csv,249034,257863,0 days 00:15:00,0 days 00:15:00,0.803877,0.803881,-32.768,-32.768,3.000,3.000

In [ ]:
df_361 = pd.read_csv('/Users/antonfreidin/water_project/data/river_data/highest_granularity/station_361_clean.csv')

In [32]:
df_361.loc[df_361['value'] < 0]

                       time        value
100093  2019-07-24 19:45:00      -32.768
100094  2019-07-24 20:30:00      -32.768
170894  2022-01-25 04:45:00 -1708517.250
184049  2022-08-05 10:15:00      -32.768
236892  2024-07-23 16:45:00 -1708546.625

In [34]:
_,test_361 = clean_river_csv('/Users/antonfreidin/water_project/data/river_data/highest_granularity/station_361_clean.csv')

Processing file: /Users/antonfreidin/water_project/data/river_data/highest_granularity/station_361_clean.csv
Rows dropped due to unparseable 'time' values: 0 (0.00%)
The resampling to 15 created 69763 rows corresponding to missing timestamps
Total missing 15-minute rows: 69763 (22.46%)

Negative values replaced and missing values filled using linear interpolation.

In [36]:
test_361.describe()

              value
count  3.105770e+05
mean   2.115686e+01
std    4.024130e+03
min    3.000000e-02
25%    3.570000e+00
50%    3.701000e+00
75%    3.855000e+00
max    1.345544e+06

In [ ]:
mean = test_361['value'].mean()
sd = test_361['value'].std()
ridiculous_values = test_361.loc[(test_361['value'] > 10 * sd + mean) |( mean - 10 * sd > test_361['value']) ]

                                  value
time
2022-01-25 04:30:00+00:00  4.485149e+05
2022-01-25 04:45:00+00:00  8.970297e+05
2022-01-25 05:00:00+00:00  1.345544e+06
2024-07-23 16:15:00+00:00  2.716129e+05
2024-07-23 16:30:00+00:00  5.432222e+05
2024-07-23 16:45:00+00:00  8.148315e+05
2024-07-23 17:00:00+00:00  1.086441e+06

In [66]:


def ridiculous_values_river(df, remove_ridiculous=False):
    mean = df['value'].mean()
    standard_deviation = df['value'].std()
    
    # Identify ridiculous values
    ridiculous_values = df.loc[(df['value'] > mean + 10 * standard_deviation) | (df['value'] < 0)]
    print(f'Ridiculous values from df:\n{ridiculous_values}')
    
    # Remove ridiculous values by replacing them with NaN if specified
    if remove_ridiculous:
        df.loc[(df['value'] > mean + 10 * standard_deviation) | (df['value'] < 0), 'value'] = np.nan
        print('This is the df without the erroneous looking values:')
    
    return df  # Return the modified DataFrame

In [70]:
not_ridic

                           value
time
2016-01-01 00:00:00+00:00  3.919
2016-01-01 00:15:00+00:00  3.919
2016-01-01 00:30:00+00:00  3.919
2016-01-01 00:45:00+00:00  3.918
2016-01-01 01:00:00+00:00  3.919
...                          ...
2024-11-09 03:00:00+00:00  3.697
2024-11-09 03:15:00+00:00  3.697
2024-11-09 03:30:00+00:00  3.696
2024-11-09 03:45:00+00:00  3.696
2024-11-09 04:00:00+00:00  3.696

[310577 rows x 1 columns]